<div id="bck">
    <div id="about" class="container">
        <h1 class="text-center">Unfortunate Soldier</h1>
        <div id="aboutImg">
            <img src="/resources/about.png">
        </div>
        <div class="container row">
            <div class="col-lg-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempus odio pulvinar, dapibus mi vulputate, fermentum ligula. Nullam vel semper quam. Nulla ipsum tortor, dignissim nec urna in, gravida elementum justo. Vestibulum id porttitor massa, sit amet egestas quam. Morbi id magna quis magna blandit ultricies nec at tellus. Ut varius rhoncus posuere. Aenean quis elementum quam. Phasellus pulvinar dolor ut mollis tempor. Quisque semper laoreet dolor. Duis maximus dolor id varius faucibus. Donec vitae enim in nisi sollicitudin viverra.</p>

                <p>Pellentesque sit amet vulputate sem. Mauris vel efficitur felis. Curabitur dapibus scelerisque luctus. Duis ullamcorper ligula scelerisque, porttitor enim ut, consectetur justo. Etiam faucibus orci est. Ut aliquet quis risus nec euismod. Cras at semper magna, in condimentum mi. Fusce in consectetur ligula. Phasellus gravida felis id dui hendrerit, a ultricies eros fermentum. Nunc posuere iaculis quam non tristique. Pellentesque ultrices est metus, scelerisque laoreet mauris pellentesque id.</p>
            </div>

            <div class="col-lg-6">
                <p>Nulla facilisi. Ut vitae leo convallis, porta elit sed, luctus tellus. Nulla nunc ligula, aliquet vitae mauris eu, varius bibendum massa. Nunc consectetur augue non interdum euismod. Curabitur sit amet maximus odio. Pellentesque massa metus, dignissim eget congue at, tincidunt luctus nisl. Nulla eleifend mi ac consectetur congue. Integer malesuada nisl nisi, eget tempor diam ultrices at.</p>
                <p>Suspendisse eu aliquet velit. Fusce eget malesuada neque, et pellentesque eros. Pellentesque eu nulla non enim dapibus dignissim et vitae purus. Sed erat leo, commodo id augue ut, ullamcorper dignissim velit. Mauris dapibus fermentum efficitur. Duis laoreet felis velit. Integer elementum non mauris at volutpat. Aliquam semper auctor posuere. Morbi vitae augue eu enim finibus lobortis. Pellentesque blandit auctor leo vitae consectetur. Curabitur enim diam, aliquet nec iaculis pellentesque, tincidunt vitae lectus. Vivamus faucibus tellus sit amet lacinia tempus. Donec porttitor ligula vitae lacus placerat convallis ut eget tortor.</p>
            </div>
        </div>

    </div>
</div>
