<div id="section1" onselectstart="return false">
  <div id="bannerTitle">
      <p class="text-center">Unfortunate <br> Soldier</p>
  </div>
</div>

<div id="section2" class="container">
  <h2 class="text-center">COMING SOON</h2>
  <div class="row">

      <a href="/chat" target='_blank'><div class="col-xs-6 col-md-3">
        <div class="hovereffect">
                <img src="/resources/1.png" alt="...">
                <div class="overlay">
                  <h3>Project 1</h3>
                </div>
        </div>
      </div></a>

      <div class="col-xs-6 col-md-3">
        <div class="hovereffect">
                <img src="/resources/2.png" alt="...">
                <div class="overlay">
                  <h3><a href="#"></a>Project 2</h3>
                </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="hovereffect">
                <img src="/resources/3.png" alt="...">
                <div class="overlay">
                  <h3><a href="#"></a>Project 3</h3>
                </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="hovereffect">
          <img src="/resources/4.png" alt="...">
            <div class="overlay">
                  <h3><a href="#"></a>Project 4</h3>
            </div>
        </div>
      </div>

  </div>

  <h2 class="text-center">SERVICES</h2>

  <div id="mean" class="row">

      <div class="col-lg-3 col-sm-12">
        <div class="thumbnail">
            <img src="http://etc.usf.edu/presentations/extras/letters/varsity_letters/01/25/m-150.png">
            <div class="caption">
                <h3 class="text-center"><a href="https://www.mongodb.com/" target='_blank'>MongoDB</a> <img src="/resources/mongo.png"></h3>
                <p class="text-center">Stores your data in documents that look a lot like JSON and JavaScript object literal notation.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-12">
        <div class="thumbnail">
            <img src="http://etc.usf.edu/presentations/extras/letters/varsity_letters/01/17/e-150.png">
            <div class="caption">
                <h3 class="text-center"><a href="http://expressjs.com/" target='_blank'>Express</a> <img src="/resources/expressjs.png"></h3>
                <p class="text-center">JavaScript framework that makes things like routing, writing APIs, and working with HTTP easier.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-12">
        <div class="thumbnail">
            <img src="http://etc.usf.edu/presentations/extras/letters/varsity_letters/01/13/a-150.png">
            <div class="caption">
                <h3 class="text-center"><a href="https://angularjs.org/" target='_blank'>AngularJS</a> <img src="/resources/angular.png"></h3>
                <p class="text-center">JavaScript framework for managing code and UI in the browser, removing a lot of manual work.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-12">
        <div class="thumbnail">
            <img src="http://etc.usf.edu/presentations/extras/letters/varsity_letters/01/26/n-150.png">
            <div class="caption">
                <h3 class="text-center"><a href="https://nodejs.org/" target='_blank'>NodeJS</a> <img src="/resources/nodejs.png"></h3>
                <p class="text-center">JavaScript on the server. Handle HTTP requests and responses and lots more.</p>
            </div>
        </div>
    </div>

  </div>
</div>
